@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes tour {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
@keyframes plans {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.tourimg {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
.tourContainer {
  margin-top: 510px;
}
.tourHeading {
  font-family: montserrat, sans-serif;
  font-size: 38px;
  letter-spacing: 0em;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.tourmainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tour-box {
  width: 474px;
  height: 338px;
  display: flex;
  justify-content: space-between;
  margin: 16px;
  animation: tour 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.plans h2 {
  animation: plans 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.trip-sub-container .tour-box-content {
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
}
.tour-box-content {
  padding: 20px 30px;
  overflow: hidden !important;
  color: #fff;
}
.tour-box-img {
  min-width: 239px;
}
.tour-transform {
  transition: all 0.4s linear;
}
.tour-box:hover .tour-transform {
  transition: all 0.4s linear;
  transform: translateY(-60px);
}
.tour-box:hover button {
  transition: all 0.4s linear;
  display: block;
}
button {
  width: 151px;
  height: 40px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  margin-top: 33px;
  transition: all 0.4s linear;
  cursor: pointer;
  display: none;
}
button:hover {
  background-color: #fff;
  color: #000;
}

@media only screen and (max-width: 500px) {
  .tourHeading {
    font-size: 33px;
  }
  .tourContainer {
    margin-top: 300px !important;
  }
  .tourmainContainer {
    flex-wrap: wrap;
  }
  .tour-box {
    width: 100% !important;
    flex-direction: column;
    margin: 0px;
    height: 100% !important;
    margin: 20px 0px;
  }
  .tour-box:hover .tour-transform {
    transition: all 0.4s linear;
    transform: translateY(-30px);
  }
  .tour-box-content p {
    font-size: 18px !important;
    margin: 0px 0px 50px 0px !important;
  }
  button {
    margin: 0px !important;
  }

  .tour-box-img {
    width: 100% !important;
    height: 377px;
    overflow: hidden;
  }
  .tour-box-img img {
    height: -webkit-fill-available;
    object-fit: cover;
  }
  .tourimg {
    height: 352px !important;
  }
  .tourimg img {
    height: -webkit-fill-available;
    object-fit: cover;
    width: -webkit-fill-available;
  }
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .tourimg img {
    width: -webkit-fill-available !important;
  }
  .tourmainContainer {
    flex-direction: column !important;
  }
}
